@charset  "UTF-8";
.material-icons{
  padding-bottom: 5px;
}
.bottom-panel{
  width: 100%;
  margin-top: -160px;
  position: absolute;
}
.fa{
  margin: 0 auto;
}
.fa-play:hover{
  color: green;
}
.fa-stop:hover{
  color: red;
}
.items {
  margin: 0 auto;
  width: 600px;
  opacity: 0.9;
}
/*
* Выдвигающаяся верхняя панель
* исключительно средствами CSS
* работает на скрытых чекбоксах(checkbox)
*
* автор: @dobrovoi dbmast.rus
*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {

    font-size: 100%;
    font-family: "Roboto",Helvetica,Sans-serif;
    overflow: hidden;

}

h1 {
    font-weight: 300;
    font-size: 175%;
    color: #191919;
    -webkit-font-smoothing: antialiased
}

h2 {
    font-weight: 300;
    font-size: 130%;
    color: #888;
    padding: 5px 0
}


/* Стрелка переключателя вниз */
label.btn:before {
    content: 'open';
    font: normal 18px/1 FontAwesome;
    text-decoration: inherit
}
/* Активация панели */
.top-panel:hover{
    top:0px;
}
.bot-panel:hover{
    top:90%;
}
img{
    width:75px;
}

.radios-as-buttons div {
    float: left;
}
.radios-as-buttons input {
    position: absolute;
    left: -9999px;
}
.radios-as-buttons label {
    display: block;
    margin: 0 0 0 -1px;
    padding: 5px 10px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .22);
    cursor: pointer;
}
.radios-as-buttons input:checked + label {
    background: #fe2a2a;
}
.radios-as-buttons div:first-child label {
    margin-left: 0;
}
/* Класс контекстного меню: */
.context-menu {
    position: absolute; /* Задаем абсолютное позиционирование для нашего меню */
    display: none; /* Изначально не показываем его */
    background-color: #fff; /* Цвет фона меню */
}

/* Добавляем стили для списка которые будет находиться внутри меню и, собственно, содержать его пункты: */
.context-menu ul {
  float: left; margin: 0; padding: 0;

 }

.context-menu ul li {
  float: left;  margin: 0; padding: 0; background-color: #fff; display: block;

}

/* Стили для ссылок пунктов меню: */
.context-menu ul li a {float: left; display:inline-block; color: #333; text-decoration: none; font-size: 12px; display: block; padding: 5px; }

.context-menu ul li a:hover { float: left; display:inline-block;background-color: #eee; }
